{{#each this}}
  
  {{#if files}}
  
    <p>{{title}}</p>
    {{#each files}}
      <a href="{{href}}">{{title}}</a>
    {{/each}}    

  {{else}}

    <a href="{{href}}">{{title}}</a>

  {{/if}}

{{/each}}